.todo-card {
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px 0px;
    box-shadow:inset 2px 3px 10px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-date {
    font-size: 0.9rem;
    color: #666;
  }
  .todos{
    background-color: rgba(255, 0, 0, 0.205);
  } 
  .pending{
    background-color: rgba(250, 239, 91, 0.205);
  }
 
  .completed{
    background-color: rgba(68, 255, 11, 0.192);
  }
  .todo-description {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  
  /* Media Query for small screens */
  @media (max-width: 768px) {
    .todo-card {
      padding: 0.8rem;
    }
    
    .todo-description {
      font-size: 0.9rem;
    }
  }
  